/*Gelion font*/
@font-face {
  font-family: "Gelion";
  src: url("/fonts/GelionLight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Gelion";
  src: url("/fonts/GelionRegular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gelion";
  src: url("/fonts/GelionMedium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Gelion";
  src: url("/fonts/GelionSemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Gelion";
  src: url("/fonts/GelionBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

/*Inter font*/
@font-face {
  font-family: "Inter";
  src: url("/fonts/InterLight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/InterRegular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/InterMedium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("/fonts/InterSemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("/fonts/InterBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

.Gelion {
  font-family: "Gelion", "Courier New";
}
.Inter {
  font-family: "Inter", "Courier New";
}
